<footer>
    <h1>Lorem, ipsum dolor.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, quaerat. Commodi distinctio aperiam nisi id nemo harum repellat eaque laudantium?</p>
</footer>